* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
body {
	background-color: #BBDFF7;
	width: 1034px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.back1 {
	list-style-type: none;
	width: 1034px;
	background-image: url(../images/loginback1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 665px;
	float: left;
}
.back2 {
	list-style-type: none;
	width: 1034px;
	background-image: url(../images/loginback2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 665px;
	float: left;
}
.back3 {
	list-style-type: none;
	width: 1034px;
	background-image: url(../images/loginback3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 665px;
	float: left;
}
.text {
	float: left;
	width: 1000px;
	padding-top: 278px;
	padding-left: 34px;
	color: #FFFFFF;
	font-size: 12px;
}
.textb {
	float: left;
	width: 1000px;
	padding-top: 344px;
	padding-left: 34px;
	color: #FFFFFF;
	font-size: 12px;
}
.textC {
	float: left;
	width: 1000px;
	padding-top: 240px;
	padding-left: 34px;
	color: #FFFFFF;
	font-size: 12px;
}
.login {
	float: left;
	width: 263px;
	padding-top: 235px;
	padding-left: 213px;
	padding-right: 558px;
}
.loginb {
	float: left;
	width: 263px;
	padding-top: 170px;
	padding-left: 430px;
}
.loginc {
	float: left;
	width: 350px;
	padding-top: 1px;
	padding-left: 663px;
}
.login1 {
	float: left;
	width: 263px;
	line-height: 30px;
}
.login1h {
	float: left;
	width: 238px;
	padding-top: 8px;
}
.login2 {
	float: left;
	width: 190px;
	padding-top: 8px;
	padding-left: 73px;
}
.login3{
	float: left;
	width: 263px;
	padding-top: 8px;
}
.blu18 {
	color: #1571B2;
	font-family: "黑体";
	font-size: 18px;
}
.white18 {
	color: #FFFFFF;
	font-family: "黑体";
	font-size: 18px;
}
.white19 {
	color: #EACA17;
    line-height:300px;
	font-weight:bold;
	font-family: "黑体";
	position: relative;  
	font-size: 100px;
	text-shadow: 3px 3px 1px #600; 
}


.logintext {
	float: left;
	width: 72px;
	padding-left: 2px;
	text-align: center;
}
.logintext1 {
	float: left;
	width: 672px;
	
	padding-left: 2px;
	text-align: center;
}
.login1c {
	float: left;
	width: 350px;
}

.loginC {
	float: left;
	padding-left: 4px;
	padding-top: 16px;
}

#textiup {
	height: 22px;
	width: 155px;
	border: 1px solid #007AC3;
}
.logintext input {
	height: 20px;
	width: 135px;
}
